.pagination-container {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
}

.page-item {
  margin: 0 5px;
}

.page-currten {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.buttonFilter:hover {
  background-color: var(--color-orange);
  color: var(--color-blue);
}

.buttonFilter.active {
  background-color: var(--color-orange);
  color: var(--color-blue);
}

.buttonActive {
  color: blue;
}
