.filter {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 6px;
  grid-row-gap: 1px;
  margin-bottom: 20px;
  padding-left: 65px;
}
.span {
  color: rgb(255, 191, 0);
  border: 1px solid rgb(255, 0, 0);
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f900;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.buttonFilter {
  background-color: #000000;
  color: #ffc800;
  border: 1px solid #323131;
  border-radius: 5px;
  padding: 8px 16px;
}

.buttonFilter:hover {
  background-color: #5d5d5db9;
}
