*:focus {
  outline: none;
}

.login {
  margin: 20px auto;
  width: 300px;
}
.login-screen {
  /* background-color: #03009bb2; */
  background-color: rgb(114, 1, 1);
  padding: 20px;
  border-radius: 5px;
}

.app-title {
  text-align: center;
  /* color: #ffe607; */
  color: black;
}

.login-form {
  text-align: center;
}
.control-group {
  margin-bottom: 10px;
}

.user {
  color: #a7a7a7;
}

input {
  text-align: center;
  background-color: #e5555563;
  border: 2px solid transparent;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 200;
  padding: 10px 0;
  width: 250px;
  transition: border 0.5s;
}

input:focus {
  border: 2px solid #db3434;
  box-shadow: none;
}

.btn {
  border: 2px solid transparent;
  background: #000000;
  color: #d00b0b;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  transition: 0.25s;
  display: block;
  width: 250px;
  margin: 0 auto;
}

.btn:hover {
  background-color: #ba4b4b;
}

.login-link {
  font-size: 12px;
  color: #444;
  display: block;
  margin-top: 12px;
}
